[submodule "themes/dashed"]
	path = themes/dashed
	url = https://github.com/sunnybyeon/hexo-theme-dashed.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/ppoffice/hexo-theme-icarus.git
